div Login Page

  .loginFormPanel

    form
      .flexInput
        span.flexInput__addOn Username
        input.flexInput__input(
          name="email"
          type="text"
          placeholder="Enter Email Address"
          [(ngModel)]="email"
          "#emailRef"="ngModel"
          required
          minlength="5"
        )
      .input.error([hidden]="emailRef.valid || emailRef.pristine") (The input value is required.)

      .flexInput
        span.flexInput__addOn Password
        input.flexInput__input(
          name="password"
          type="password"
          placeholder="Enter Password"
          [(ngModel)]="password"
          "#passwordRef"="ngModel"
          required
          minlength="6"
        )
      .input.error([hidden]="passwordRef.valid || passwordRef.pristine") (The input value is invalid.)

      button(type="button" (click)="login()") Login
      button(type="button" (click)="signup()") Sign Up
      button(type="button" (click)="cancel()") Cancel

