doctype html
html(lang='eng')
  head
    title User Page
    style(type='text/css')
      |  * {
      |    font-family: Helvetica, Arial, sans-serif;
      | }
      | div {
      |   display: flex;
      |   align-items: center;
      |   padding: 1em;
      |   font-size: 1.2em;
      | }
      | div a {
      |   padding-left: 0.5em;
      | }
      | div.nav {
      | |   float: left;
      |   width: 100%;
      |   height: 100px;
      | }
      | img {
      |   padding-right: 2em;
      | }
      | input {
      |   font-size: 1em;
      | }
      | dt {
      |   font-weight: bolder;
      |   display: inline-block;
      |   width: 4em;
      | }
      | dd {
      |   display: inline-block;
      |   margin-left: 0;
      |   line-height: 1.5;
      | }
      | .edit {
      |   display: none;
      | }
  body
    .nav
      a(href="/") Back to Users List

    .pic
      img(src='/profilepics/' + user.username + '_med.jpg')
      p
        a(href="#" onclick="edit()") Edit
        a(href="#" onclick="del()") Delete
        
    h1= user.name.full
    dl
      dt Street
      dd.view= address.street
      dd.edit
        input(id="street" type="text" value="{{address.street}}")
      br
      dt City
      dd.view= address.city
      dd.edit
        input(id="city" type="text" value="{{address.city}}")
      br
      dt State
      dd.view= address.state
      dd.edit
        input(id="state" type="text" value="{{address.state}}")
      br
      dt Zip
      dd.view= address.zip
      dd.edit
        input(id="zip" type="text" value="{{address.zip}}")
      br
      dt
      dd.edit
        input(type="submit" value="Save" onclick="save()")
        input("submit" value="Cancel" onclick="cancel()")
    