.blockquotes
  p Blog admin menu:
    span(*ngIf="currentUser") {{currentUser}} Logged in

.navbar
  ul.menu
    li
      a((click)="chooseMode('add')") Add Post
    li(*ngIf="menuChoice")
      a((click)="chooseMode('')") Manage Blog
    li
      a([routerLink]="['/admin']") Admim
    li(*ngIf="currentUser")
      a((click)="logout") Logout


.container([ngSwitch]="menuChoice")
  .row(*ngSwitchCase="'add'")
    .column
      add-menu

  .row(*ngSwitchDefault)
    .column(*ngIf="formDisplay")
      .row(*ngFor="let post of blogPosts")
        .column
          .media
            img([src]="post.img").media__figure.image
            .media__body
              h4.media__tile {{post.title}}
              p {{post.content}}

          input(type="button" value="Edit" (click)="editPost(post)").button-primary
          input(type="button" value="Delete" (click)="deletePost(post)").button-primary

    .column(*ngIf="!formDisplay")
      .container
        .title Edit a Post

        .row
          .column
            form
              .fieldset
                label Post Title
                input(
                  name="editTitle"
                  type="text"
                  [(ngModel)]="singlePost.title"
                  "#postTitleRef"="ngModel"
                  required
                )
                label Post Content
                textarea(
                  rows="15"
                  name="editContent"
                  type="text"
                  [(ngModel)]="singlePost.content"
                  "#postContentRef"="ngModel"
                  required
                )
                img([src]="singlePost.img")

                .row
                  .column
                  .column
                    input(
                      type="button"
                      value="Edit Post"
                      (click)="updatePost(post)"
                      [disabled]="!postTitleRef.valid || !postContentRef.valid"
                    ).button-primary
                  .column
                    input(type="button" value="Cacnel Edit" (click)="cancelEdit()").button-primary
                  .column
                  .column

