.blockquotes
  p Blog admin menu:
    span(*ngIf="currentUser") {{currentUser}} Logged in

.navbar
  ul.menu
    li
      a(href="/" (click)="chooseMode('add')") Add Post
    li(*ngIf="menuChoice")
      a(href="/" (click)="chooseMode('')") Manage Blog
    li
      a([routerLink]="['/admin']") Admim
    li(*ngIf="currentUser")
      a(href="/" (click)="logout") Logout


div([ngSwitch]="menuChoice")
  div(*ngSwitchCase="'add'")
    add-menu
  div(*ngSwitchDefault)
    div(*ngIf="formDisplay")
      div(*ngFor="let post of posts")
        img([src]="post.img")
        h4 {{post.title}}
        p {{post.content}}
        a((click)="editPost(post)") Eidt
        a((click)="deletePost(post)") Delete

    div(ngIf="!formDisplay")
      form
        title Edit Post
